.filters {
	background-color: white;
	height: 70px;
	line-height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	text-align: right;
}

button {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: 0px;
	border-radius: 4px;

	/* button position settings: */
	position: relative;
	right: 30px;
}

button:hover {
	  opacity: 90%;
	}

.locations {
	height: 100%;
	width: 25%;
	border-right: 1px solid #DDDDDD;

	/* .location position settings: */
	float: left;
	text-align: left;
	line-height: 5px;
}

.amenities {
	height: 100%;
	width: 25%;

	/* .amenities position settings: */
	float: left;
	text-align: left;
	line-height: 5px;
}

.locations h3, .amenities h3 {
	font-weight: 600;

	/* h3 position settings: */
	position: relative;
	left: 50px;
	margin-top: 20px;
}

.locations h4, .amenities h4 {
	font-weight: 400;
	font-size: 14px;

	/* h4 position settings: */	
	position: relative;
	left: 50px;
	margin-top: 20px;
}

/* .popover dropdown menu config. */
/* ------------------------------ */

.popover {
	display: none;
	background-color: #FAFAFA;
	border: 1px solid #DDDDDD;
	border-radius: 4px;

	/* effects added */
	list-style: none;
	line-height: 25px;
	position: relative;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	z-index: 1;
}

.locations:hover .popover {
	display: block;
}

.amenities:hover .popover {
	display: block;
}

.popover li h2 {
	font-size: 16px;
	margin: 0px;
	font-weight: bold;
	line-height: 25px;
}

.popover li ul {
	list-style: none;
	padding-left: 20px;
}